<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <ul class="navbar-nav">
        <li>
            <a routerLink= {{employees}} routerLinkActive="active" class="nav-link">Employee List</a>
        </li>
        <li>
            <a routerLink= {{createEmployee}} routerLinkActive="active" class="nav-link">Create Employee</a>
        </li>
    </ul>
</nav>
<h1 class="text-center">{{title}}</h1>
<div class = "container ">
    <router-outlet />
</div>
<footer class = "footer">
    <div class="container mt-4">
        <span>All Rights Reserved 2024 Santiago Garcia</span>
    </div>
</footer>
